{% load static %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>Dashboard</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"></link>
<link rel='stylesheet prefetch'
	href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'></link>
<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}" type="text/css"></link>
</head>
<body>
	<div class="wrapper">
		<div class="wrapper_container">
			<!-- start content -->
			<div class="site-wrapper active" id="target">
				<div class="site-wrapper_left-col">
					<a href="#" class="logo">Specsavers</a>
					<div class="left-nav">
						<a href="dashboard.html" class="active"><i class="fa fa-home"></i>Dashboard</a>
						<a href="pilotchecks.html"><i class="fa fa-cog"></i>Pilot
							Checks</a> <a href="rolloutchecks.html"><i class="fa fa-cog"></i>Rollout
							Checks</a> <a href="basicchecks.html"><i class="fa fa-cog"></i>Basic
							Checks</a> <a href="analytics.html"><i class="fa fa-pie-chart"></i>Analytics</a>
						<a href="logout.html"><i class="fa fa-user"></i>Logout</a>
					</div>
				</div>
				<div class="site-wrapper_top-bar">
					<img src="{% static 'dashboard/images/Specsavers.png' %}" height="50" />
				</div>
				<!-- inner content -->
				<div class="row">
					<div class="col-1">
						<div class="user-item">
							<div class="user-item_info">
								<p class="name">current live version</p>
							</div>
						</div>
					</div>
					<div class="blink">
						<a><div class="col-1">
								<div class="user-item">
									<div class="user-item_info">
										<p class="name">Pilot</p>
									</div>
								</div>
							</div></a>
					</div>
					<div class="row">
						<a><div class="col-1">
								<div class="user-item">
									<div class="user-item_info">
										<p class="name">Pilot 1 is on</p>
									</div>
								</div>
							</div></a> <a><div class="col-1">
								<div class="user-item">
									<div class="user-item_info">
										<p class="name">Pilot 2 is on</p>
									</div>
								</div>
							</div></a> <a><div class="col-1">
								<div class="user-item">
									<div class="user-item_info">
										<p class="name">Pilot 3 is on</p>
									</div>
								</div>
							</div></a> <a><div class="col-1">
								<div class="user-item">
									<div class="user-item_info">
										<p class="name">Rollout NON SDT</p>
									</div>
								</div>
							</div></a> <a><div class="col-1">
								<div class="user-item">
									<div class="user-item_info">
										<p class="name">Rollout SDT</p>
									</div>
								</div>
							</div></a>
					</div>
				</div>
			</div>
			<!-- end inner content -->
		</div>
		<!-- end content -->
	</div>
	</div>
</body>
</html>