

{% block content %}
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>login Page</title>
{% load static %}
<link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}"> 
</head>
<script>
history.forward();
</script> 
<body>
<form method = "POST" action="{% url 'login' %}">
{% csrf_token %}
<div class="login">
		<div class="login-screen">
			<div class="app-title">
			<br/>
				<h1>Login</h1>
				<br/>
			</div>
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="username" id="loginname" name = "username" autocomplete = "off" required>
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="password" id="loginpass" name = "password"  required>
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
				<input type="submit" class="btn btn-primary btn-large btn-block" value="Login">
			</div>
		</div>
	</div>
</form>
</body>
</html>

{% if error%}

<centre>{{ error }}</centre>

{% endif %}

{% endblock %}